
{% extends 'master' %}
{% block content %}
<div class="container">
    <h3>Login</h3>
   <div class="col-xs-6">
        {{ form.open({action: ''}) }}

    {{ csrfField }}

    <fieldset class="form-group">
      {{ form.text('username', null, { class: 'form-control',placeholder:"enter new username"}) }}
    </fieldset>

    <fieldset class="form-group">
      {{ form.text('password', null, { class: 'form-control',placeholder:"enter new password here" }) }}
    </fieldset>

    {{ form.submit('login', 'login', { class: 'btn btn-primary' }) }}

  {{ form.close() }}
   </div>
</div>
{% endblock %}